global
    maxconn 20000
    # Restricting to 1 thread as we only have 0.20 CPU limit.
    nbthread 1
    # Quick shutdown for faster iteration during testing.
    hard-stop-after 1s
    tune.bufsize 16384
    log stdout format raw local0 info

defaults
    mode http
    maxconn 20000
    timeout connect 50ms
    timeout client 10s
    timeout server 10s
    timeout http-request 2s
    timeout http-keep-alive 60s
    option http-keep-alive
    option dontlognull
    log global

frontend rinha_front
    bind *:9999
    default_backend rinha_api

backend rinha_api
    # MANDATORY: Pure round-robin as per competition rules.
    balance roundrobin
    
    # Active healthcheck ensures HAProxy only routes to "live" sockets.
    option httpchk GET /ready
    http-check expect status 200
    
    http-reuse always
    server api1 unix@/sockets/api1.sock maxconn 10000 check
    server api2 unix@/sockets/api2.sock maxconn 10000 check
